@import './../material/utilities/common.scss';
@import './../material/messages/messages.scss';
@import './../material/subscriptions/subscriptions.scss';
@import './../material/pages/createPage.scss';
@import './../material/utilities/colors.scss';
@import './../material/pages/viewPage.scss';

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.dark-mode {
  th {
    color: white !important;
  }
  td {
    color: white !important;
  }
  .form-label {
    color: white;
  }
  h4 {
    color: white;
  }
  h1 {
    color: white;
  }
  button {
    color: white;
    :hover {
      color: white !important;
    }
  }
}

.MuiOutlinedInput-root {
  legend {
    display: none;
  }
  fieldset {
    top: 0;
  }
}

.MuiFormHelperText-root {
  color: $error-text-color;
}
