#navbar_events {
  padding: 10px 0;
  background-color: black;
  border: 1px solid black;
}
.no_effect:hover {
  color: purple;
  background: transparent;
}

#navbar_events_child {
  margin: auto;
  display: flex;
  align-items: center;
  width: 80%;
}

#logo_prnt_evnt h2 {
  margin: 0;
  margin-left: 15px;
  color: white;
}

#logo_prnt_evnt {
  display: flex;
  align-items: center;
}
#logo_prnt_evnt:hover {
  cursor: pointer;
}

#logo_events {
  height: 50px;
}
